.wrapper{
  width: 100%;
  border-bottom: 1px solid #eee;
}
.header{
  width: 1100px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo{
  width: 30%;
  display: flex;
  align-items: center;
}
.header .logo img{
  width: 100px;
  height: 100px;
}
.header .logo span{
  font-size: 30px;
  color: #000;;
  margin-left: 10px;
}
.header .navigation{
  width: 50%;
  height: 40px;
}
.header .navigation ul{
  display: flex;
  width: 100%;
  line-height: 40px;
}
.header .navigation ul li{
  padding-left: 20px;
  padding-right: 20px;
}
.header .navigation ul li.active{
  border-bottom: 4px solid #ff6600;
}
.header .navigation ul li a{
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
.content img{
  width: 100%;
}