.wrapper{
  width: 100%;
  height: 100vh;
  background-image: url(../images/bigBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .header{
  width: 1100px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header .logo{
  width: 30%;
  display: flex;
  align-items: center;
}
.wrapper .header .logo img{
  width: 100px;
  height: 100px;
}
.wrapper .header .logo span{
  font-size: 30px;
  color: #fff;;
  margin-left: 10px;
}
.wrapper .header .navigation{
  width: 50%;
  height: 40px;
}
.wrapper .header .navigation ul{
  display: flex;
  width: 100%;
  line-height: 40px;
}
.wrapper .header .navigation ul li{
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper .header .navigation ul li.active{
  border-bottom: 4px solid #ff6600;
}
.wrapper .header .navigation ul li a{
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.wrapper .content{
  margin-top: 80px;
}
.wrapper .content .logo{
  text-align: right;
}
.wrapper .content .logo img{
  width: 360px;
}
.wrapper .content .logo .title{
  color: #fff;
  font-size: 72px;
  padding: 0 40px 0 0;
  font-weight: 800;
}
.wrapper .content .logo .english{
  color: #fff;
  font-size: 24px;
  padding: 0 40px 0 0;
}